fastapi==0.118.0
uvicorn[standard]==0.23.2
SQLAlchemy==2.0.25
python-jose[cryptography]==3.3.0
requests==2.32.0
pydantic==1.10.12
python-multipart==0.0.20
passlib[argon2]==1.7.4
paho-mqtt==1.6.1
email-validator==2.3.0
sendgrid==6.11.0
psycopg2-binary==2.9.9
